<div class="nanoconf-info">
  <h1>
    <%= @presentation.title %>
    <small><%= link_to "Edit", edit_presentation_path(@presentation) if current_user == @presentation.presenter %></small>
  </h1>

  <div class="tab-pane markdown-body" id="preview">
    <%= mdown(@presentation.description) %>
  </div>
</div>
